@import "tailwindcss";

* {
    font-family: tahoma;
}

:root {
    --background: #f6f8fb;
    --card-background: white;
    --sidebar-hover: #c0bbf4;
    --active-theme-color: #1a1a4c;
    --card-shadow: #e2e1fd;
    --text: #172033;
    --carding: #edebff;
    /* lighting-color: #d4ffd4; */
}

body {
    background-color: var(--background);
}

