# Dependency folders (Ignore everywhere)
**/node_modules/
**/dist/
**/build/
.cache/

# Local Environment Variables & Secrets
.env
*.env
.env.local

# FrontEnd Media and Data folders
frontEnd/media/
frontEnd/audiofile/
frontEnd/churchData/

# Backend Media and Data folders
Backend/media/
Backend/audiofile/
Backend/churchData/

# Large media formats backup rule
*.mp4
*.mkv
*.mov
*.mp3
*.wav
*.zip
*.rar
*.7z

# Operating system files
Thumbs.db
.DS_Store
